.content {
	padding: 10px;
}

.master-trainers .table__column:first-child {
	flex-basis: 38%;
	justify-content: flex-start;
}

.form-element--checkbox.trainer-done {
		label:before,
		.form-element-inner {
			top: 4px;
			left: 7px;
		}
}

.pokemon-image {
	margin-right: 10px;
}